<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a [routerLink]="['']" class="logo d-flex align-items-center me-auto">
      <h1 class="sitename">Technostréa</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a [routerLink]="['']" routerLinkActive="active">Accueil</a></li>
        <li><a [routerLink]="['/about']" routerLinkActive="active">A propos </a></li>
        <li><a [routerLink]="['/expertises']" routerLinkActive="active">Expertises</a></li>
        <li><a [routerLink]="['/projects']" routerLinkActive="active">Projets</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="active" >Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" [routerLink]="['/contact']">COMMENCER</a>

  </div>
</header>
