<section class="bg-white" id="projects">

  <article  class="projects bg-white ">

    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Nos Réalisations</h2>
        <p>Découvrez quelques-uns de nos projets récents qui ont aidé nos clients à atteindre leurs objectifs.</p>
      </div>

      <div class="swiper-container projects-slider" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <!-- Project 1 -->
          <div class="swiper-slide">
            <div class="project-item">
              <img ngSrc="assets/images/cubes-1210943_1280.jpg" class="img-fluid" alt="Projet 1" width="200"
                   height="200">
              <h3>Projet 1</h3>
              <p>Description brève du projet 1.</p>
            </div>
          </div>

          <!-- Ajoutez d'autres projets ici -->

        </div>

        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </article>

</section>
