<section id="expertises" class=" bg-white">

  <article class="services section bg-white">
    <!-- Section Title -->
    <div class="container section-title text-center mb-5" data-aos="fade-up">
      <h2>Nos Services</h2>
      <p class="lead">Des solutions technologiques innovantes pour répondre à vos besoins</p>
    </div>
    <!-- End Section Title -->

    <div class="container">
      <div class="row gy-4">
        <!-- Service Item -->
        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item text-center">
            <div class="icon mb-4">
              <i class="bi bi-code-slash"></i>
            </div>
            <h4>Développement Web et Applications</h4>
            <p>Création de sites web et d'applications mobiles sur mesure pour booster votre présence en ligne.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <!-- Service Item -->
        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item text-center">
            <div class="icon mb-4">
              <i class="bi bi-server"></i>
            </div>
            <h4>Gestion de l'Infrastructure IT</h4>
            <p>Optimisation et maintenance de vos systèmes informatiques pour une performance maximale.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <!-- Service Item -->
        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item text-center">
            <div class="icon mb-4">
              <i class="bi bi-lightbulb"></i>
            </div>
            <h4>Conseil Stratégique en Technologie</h4>
            <p>Accompagnement dans la définition et la mise en œuvre de votre stratégie technologique.</p>
          </div>
        </div>
        <!-- End Service Item -->

        <!-- Service Item -->
        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item text-center">
            <div class="icon mb-4">
              <i class="bi bi-cloud-lock"></i>
            </div>
            <h4>Solutions Cloud et Sécurité</h4>
            <p>Mise en place de solutions cloud sécurisées pour protéger et accéder à vos données à tout moment.</p>
          </div>
        </div>
        <!-- End Service Item -->
      </div>
    </div>
  </article>

  <article id="team" class="team section dark-background">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Notre équipe</h2>
      <p>Découvrez les talents qui façonnent Technostrea</p>
    </div>

    @if (aboutTeamService.teams; as teams) {
      <div class="container">
        <div class="row gy-4">
          @for (user of teams; track user.name) {
            <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
              <app-item-card-team [user]="user"></app-item-card-team>
            </div>
          }
        </div>
      </div>

    }

  </article>
</section>

