<footer id="footer" class="footer">

  <!--<div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form>
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>
      </div>
    </div>
  </div>-->

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a [routerLink]="['']" class="d-flex align-items-center">
          <span class="sitename">Tecnostréa</span>
        </a>
        <div class="footer-contact pt-3">
          <p><strong>Adresse :</strong> Camp 31 Juillet, Pointe-Noire, Congo-Brazzaville</p>
          <p><strong>Téléphone :</strong> (+242) 5589 55488 55</p>
          <p><strong>Email :</strong> contact&#64;technostrea.com</p>
        </div>
      </div>

      <!-- Liens Utiles -->
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Liens utiles</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['']">Accueil</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/about']">À propos</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/services']">Services</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/projects']">Projets</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['/contact']">Contact</a></li>
        </ul>
      </div>

      <!-- Nos Services -->
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Nos Services</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Conception Web</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Développement Web</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gestion de Produit</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing Digital</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12">
        <h4>Suivez nous</h4>
        <div class="social-links d-flex">
          <a href=""><i class="bi bi-twitter-x">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 14 14">
              <g fill="none">
                <g clip-path="url(#primeTwitter0)">
                  <path fill="currentColor"
                        d="M11.025.656h2.147L8.482 6.03L14 13.344H9.68L6.294 8.909l-3.87 4.435H.275l5.016-5.75L0 .657h4.43L7.486 4.71zm-.755 11.4h1.19L3.78 1.877H2.504z"/>
                </g>
                <defs>
                  <clipPath id="primeTwitter0">
                    <path fill="#fff" d="M0 0h14v14H0z"/>
                  </clipPath>
                </defs>
              </g>
            </svg>
          </i></a>
          <a href=""><i class="bi bi-facebook">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 256 256">
              <path fill="#1877F2"
                    d="M256 128C256 57.308 198.692 0 128 0S0 57.308 0 128c0 63.888 46.808 116.843 108 126.445V165H75.5v-37H108V99.8c0-32.08 19.11-49.8 48.348-49.8C170.352 50 185 52.5 185 52.5V84h-16.14C152.959 84 148 93.867 148 103.99V128h35.5l-5.675 37H148v89.445c61.192-9.602 108-62.556 108-126.445"/>
              <path fill="#FFF"
                    d="m177.825 165l5.675-37H148v-24.01C148 93.866 152.959 84 168.86 84H185V52.5S170.352 50 156.347 50C127.11 50 108 67.72 108 99.8V128H75.5v37H108v89.445A129 129 0 0 0 128 256a129 129 0 0 0 20-1.555V165z"/>
            </svg>
          </i></a>
          <a href=""><i class="bi bi-instagram">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
              <path fill="currentColor" d="M13.61 12.243a1.6 1.6 0 1 1-1.56-1.63a1.62 1.62 0 0 1 1.56 1.63"/>
              <path fill="currentColor"
                    d="M14.763 7.233H9.338a2.024 2.024 0 0 0-2.024 2.024v5.547a2.024 2.024 0 0 0 2.024 2.024h5.425a2.024 2.024 0 0 0 2.024-2.024V9.267a2.026 2.026 0 0 0-2.024-2.034m-2.713 7.723a2.703 2.703 0 1 1 2.642-2.703a2.67 2.67 0 0 1-2.642 2.703m2.936-5.405a.496.496 0 0 1-.496-.506a.506.506 0 1 1 1.012 0a.496.496 0 0 1-.557.506z"/>
              <path fill="currentColor"
                    d="M12.05 2a10 10 0 1 0-.1 20a10 10 0 0 0 .1-20m6.073 12.702a3.39 3.39 0 0 1-3.41 3.411H9.389a3.39 3.39 0 0 1-3.411-3.41V9.378a3.39 3.39 0 0 1 3.41-3.411h5.325a3.39 3.39 0 0 1 3.41 3.41z"/>
            </svg>
          </i></a>
          <a href=""><i class="bi bi-linkedin">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20 20">
              <path fill="currentColor"
                    d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6s9.6-4.298 9.6-9.6S15.302.4 10 .4M7.65 13.979H5.706V7.723H7.65zm-.984-7.024c-.614 0-1.011-.435-1.011-.973c0-.549.409-.971 1.036-.971s1.011.422 1.023.971c0 .538-.396.973-1.048.973m8.084 7.024h-1.944v-3.467c0-.807-.282-1.355-.985-1.355c-.537 0-.856.371-.997.728c-.052.127-.065.307-.065.486v3.607H8.814v-4.26c0-.781-.025-1.434-.051-1.996h1.689l.089.869h.039c.256-.408.883-1.01 1.932-1.01c1.279 0 2.238.857 2.238 2.699z"/>
            </svg>
          </i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>&copy; <span>Copyright</span> <strong class="px-1 sitename">Technostréa</strong>
      <span>Tous droits réservés</span></p>
  </div>

</footer>
