<footer id="footer" class="footer light-background">

<!--
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form>
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>
      </div>
    </div>
  </div>
-->

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a [routerLink]="['']" class="d-flex align-items-center">
          <span class="sitename">Technostréa</span>
        </a>
        <div class="footer-contact pt-3">
          <p><strong>Adresse :</strong> Camp 31 Juillet, Pointe-Noire, Congo-Brazzaville</p>
          <p><strong>Téléphone :</strong> (+242) 5589 55488 55</p>
          <p><strong>Email :</strong> contact&#64;technostrea.com</p>
        </div>
      </div>

      <!-- Liens Utiles -->
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Liens utiles</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['']" fragment="home" >Accueil</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['']" fragment="about">À propos</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['']" fragment="expertises" >Expertises</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['']" fragment="projects">Projets</a></li>
          <li><i class="bi bi-chevron-right"></i> <a [routerLink]="['']" fragment="contact">Contact</a></li>
        </ul>
      </div>

      <!-- Nos Services -->
      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Nos Services</h4>
        <ul>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Conception Web</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Développement Web</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Gestion de Produit</a></li>
          <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing Digital</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12">
        <h4>Suivez nous</h4>
        <div class="social-links d-flex">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>&copy; <span>Copyright</span> <strong class="px-1 sitename">Technostréa</strong>
      <span>Tous droits réservés</span></p>
  </div>

</footer>
