<section class="main py-0">

  <section class="hero min-vh-100 dark-background d-flex align-items-center ">
    <div class="container">
      <div class="row gy-5 align-items-center">
        <!-- Colonne de Texte -->
        <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
          <span class="display-4 lead mb-4">
            404 - Page non trouvée !!
          </span>

          <div class="d-flex flex-wrap">
            <a [routerLink]="['']" class="btn btn-primary btn-lg me-3 mb-2">
              Retour à l'accueil
            </a>
          </div>
        </div>
        <!-- Colonne d'Animation -->
        <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-left" data-aos-delay="200">
          <app-adn-animation/>
        </div>
      </div>
    </div>
  </section>
</section>
