<div class="portfolio-item isotope-item filter-app border">
  <div class="portfolio-content h-100">
    <img src="{{project.image}}" class="img-fluid" alt="{{project.name}}">
    <div class="portfolio-info">
      <h4>{{project.name}}</h4>
      <p class="py-2 px-3 border rounded-3 bg-warning w-25 fw-bold text-white">{{project.status}}</p>
      <p>{{project.description}}</p>
      <div>
        <a href="{{project.image}}" title="{{project.name}}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
        <a href="{{project.link}}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
      </div>
    </div>
  </div>
</div>
